@import "tailwindcss";

@theme {
  --color-white-1: hsla(0, 0%, 100%, 1);
  --color-white-2: hsla(0, 0%, 96%, 1);
  --color-white-3: hsla(0, 0%, 92%, 1);

  --color-grey-1: hsla(0, 0%, 48%, 1);
  --color-grey-2: hsla(0, 0%, 52%, 1);
  --color-grey-3: hsla(0, 0%, 56%, 1);

  --color-black-1: hsla(0, 0%, 20%, 1);
  --color-black-2: hsla(0, 0%, 16%, 1);
  --color-black-3: hsla(0, 0%, 14%, 1);

  --color-blue-1: hsla(200, 91%, 95%, 1);
  --color-blue-2: hsla(200, 100%, 50%, 1);
  --color-blue-3: hsla(216, 100%, 50%, 0.08);

  --color-yellow-1: hsla(41, 100%, 94%, 1);
  --color-yellow-2: hsla(41, 100%, 30%, 1);
  --color-yellow-3: hsla(41, 100%, 30%, 0.08);

  --color-green-1: hsla(109, 95%, 92%, 1);
  --color-green-2: hsla(103, 100%, 26%, 1);
  --color-green-3: hsla(103, 100%, 26%, 0.08);

  --font-inter: 'Inter', sans-serif;

  --text-24-32-medium: 24px/32px 500;
  --text-14-20-medium: 14px/20px 500;
  --text-14-20-regular: 14px/20px 400;
  --text-12-20-medium: 12px/20px 500;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
